.card{
  width: 90%;
  height: 80%;
  border: none !important;
  @media (max-width: 1024px) {
    width: 90%;
    height: 90%;
    float: none;
  }
  @media(max-width: 768px){
    width: 100%
  }
}
.card-title{
  font-size: 0.9em;
  font-weight:bold;
  @media (max-width: 1024px) {
    font-size: 1em;
  }
  @media(max-width: 768px){
    font-size: 1.2em;
  }
}
.card-text{
  font-size: 1em;
  font-weight: bold;
  color:#000000;
  @media (max-width: 1024px) {
    font-size: 1em;
  }
  @media(max-width: 768px){
    font-size: 1.2em;
  }
}