.center-group2 {
  float: left;
  width: 70%;
  height: auto;
  @media (max-width: 1250px) {
    width: 80%;
    float: none;
  }
  @media (max-width: 1100px) {
    width: 85%;
    float: none;
  }
  @media (max-width: 1024px) {
    width: 100%;
    float: none;
  }
}
.advertaising-zone{
  @media(max-width: 1250px) {
    width: 90%;
  }
  @media(max-width: 1024px) {
    width: 95%;
  }
  @media(max-width: 850px) {
    width: 100%;
  }
}