.article-card {
  display: flex;
  align-items: center;
  width: 100%;
  border: none;
  margin-top:5%;
  border-bottom: 1px solid #7e7a7a;
  padding-bottom: 5%;
}

.article-details {
  flex: 1;
  margin-left: 5%;


  .card-title {
    font-size: 0.9em;
    &:hover {
      text-decoration: underline;
    }
  }
}

.art-img {
  width: 30%;
  height: auto;
  float: left;
}
.art-img .img{
  width: 100%;
  height: auto;
}


