$dimensione_massima: 1024px;
$color-green: #14774d;
$color-cyan: #00ffd0;
$color-white: white;
$color-black: black;

.subnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: $color-black;
  padding: 0.2rem;
  margin-top: 0;

  .logo-and-button {
    display: flex;
    align-items: center;
  }
  .subnav-items {
    display: flex;
    justify-content: center;
    flex-grow: 1;

    .subnav__item {
      color: $color-white;
      text-decoration: none;
      margin: 0 1rem;
      transition: text-decoration 0.3s ease;
      font-weight: bold;
      white-space: nowrap;
      font-size: 0.9em;
      @media  (max-width: 1100px) {
        font-size: 0.8em;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }

  @media screen and (max-width: $dimensione_massima) {
    display: none;
  }
}

.fixed-subnav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  .subnav__item {
    font-size: 0.8rem;
  }

  .navbar-brand {
    justify-content: flex-start;
  }
}

.empty-space {
  flex-grow: 1;
}

.subnav_button {
  margin-right: 0;

  .btn1 {
    font-weight: bold;
    border: none;
    background-color: transparent;
    color: $color-green;
    transition: text-decoration 0.3s ease;
    text-decoration: underline;
  }

  .right-aligned-btn {
    float: right !important;
    border: none;
    font-weight: bold;
    padding: 8px 20px;
    border-radius: 20px;
    cursor: pointer;
    background-color: $color-black;
    color: $color-cyan;
    white-space: nowrap;


    &:hover {
      color: $color-cyan;
    }
  }
}

